ul{
  font-size: 17px;

}

#logo{
  width: 300px;
  margin-left: 42%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#logoCarrinho{
  height: 70px;
  margin-left: 20%;
  margin-top: 40%;
}

#produto1{
  height: 300px;
}

.destaque{
  margin-top: 50px;
  margin-left: 70px;
}

.menu-vertical{
  width: 160px;
}

#obrigatorio{
	color: red;
}

#navbarDropdown{
  color: rgb(255, 133, 0);
}

.btnLaranja{
  background: rgb(255, 133, 0);
}

body{
  overflow-x:hidden;
}

.label{
  position:absolute;
}

.contadorCarrinho {
  background: #d92300;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 1;
  top: 20px;
  right:-12px;
  border-radius: 7px;
  color: white;
  display: flex;
  align-items: center;
}